.stylesCard {
    background-image: url("../../Image/card/card.png");
    /*background: skyblue;*/
    margin: 55px;
    width: 15rem;
    border-radius: 30px;
    display: inline-block;
    transition: all 400ms ease;
    box-sizing: content-box;
    min-height: 250px;
    border-color: greenyellow;
    border-width: 4.5px;
    border-style: solid;
  }
  
  .stylesCard:hover {
    box-shadow: 20px 20px 20px rgb(0, 0, 0, 0, 4);
    transform: translateY(-3%);
  }
  
  .name {
    font-family: "Sofia", cursive;
    font-size: 20px;
    color: black;
    text-decoration: none;
  }
  
  .typeStyle {
    list-style-type: none;
    color: blue;
    text-decoration-line: none;
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
    font-family: "Merienda", cursive;
    text-decoration: none;
  }
  
  ul li {
    text-decoration-line: none;
    list-style-type: none;
    text-align: center;
    align-content: center;
  }